body {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */
.navbar {
    padding: 0.7% 15%;
    background-color: white;
    box-shadow: 0px 5px 0px 0px rgb(227, 227, 227);
    position: fixed;
    top: 0;
    width: 100%;
}

button.nav-menu-button-1 {
    background-color: #6674CC;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

button.nav-menu-button-2 {
    background-color: transparent;
    color: #6674CC;
    border-radius: 5px;
    border: 3px solid #6674CC;
    padding: 7px 17px;
}

.nav-item {
    padding: 10px;
}

button.nav-menu-button {
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px 0;
}

/* SECTION-1 */

.container-fluid {
    padding: 6.5% 15% 4%;
    text-align: center;
}

/* #section-1 .row{
    padding-top: 10px;
} */

.content button {
    background-color: #6674CC;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 15px;
}

.part-1 {
    padding: 5% 0 5%;
    text-align: left;
}

.content {
    padding-top: 3.5%;
}

/* SECTION-2 */

#section-2 .container-fluid {
    background-color: #6674CC;
    padding: 2.5% 20%;
    text-align: center;
    color: white;
}

.row-1 {
    padding-bottom: 18px;
    font-family: 'Merriweather', serif;
}

/* SECTION-3 */

#section-3 .container-fluid {
    padding: 5.5% 0;
    background-color: #f1f2f6;
}

#section-3 button {
    background-color: #6674CC;
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 15px;
}

.section-3-menu {
    padding-top: 10px;
}

.section-3-menu-button {
    margin-top: 10px;
}

/* SECTION-4 */

#section-4 .container-fluid {
    text-align: center;
    padding: 80px 30px;
}

#section-4 .container-fluid h4 {
    padding: 0 0 40px;
}

/* SECTION-5 */

#section-5 .container-fluid {
    padding: 5% 14%;
}

#section-5 .row div {
    text-align: left;
    padding: 0 35px;
}

#section-5 .appreciation {
    color: rgb(132, 131, 131);
}

/* SECTION-6 */

#section-6 .container-fluid {
    padding: 80px 200px;
    background-color: #f1f2f6;
}

#section-6 a img {
    padding-bottom: 10px;
}

#section-6 div.col-lg-4 {
    padding-top: 30px;
}

#section-6 .section-6-part-1 {
    padding: 10px 0 50px;
}

/* SECTION-7 */

#section-7 .container-fluid {
    text-align: center;
    padding: 80px 200px 80px 240px;
}

#section-7 .row {
    text-align: left;
}

#section-7 p {
    margin-bottom: 2px;
}

#section-7 h5 {
    margin-bottom: 25px;
}

#section-7 a {
    text-decoration: none;
    color: black;
}

/* THE-END */